
*/jsconfig.json
*/libraries/p5.min.js
*/libraries/p5.sound.min.js
*/.vscode/*
Présentation/Presentation.aux
Présentation/Presentation.fdb_latexmk
Présentation/Presentation.fls
Présentation/Presentation.log
Présentation/Presentation.nav
Présentation/Presentation.out
Présentation/Presentation.snm
Présentation/Presentation.synctex.gz
Présentation/Presentation.toc
